{% extends 'base.html' %}

{% block title %}Jurnallar{% endblock %}

{% load i18n %} 
{% load description_change %} 

{% block content %}
    <div class="row container">
        <div class="image col-6">
            <img src="{{book.thumb.url}}"
            class="img-fluid"
            alt="">
        </div>
        <div class="right-info col-6">
            <div class="izoh">
                <h2 style="color: black">{{book.name}}</h2>
            </div>
            <div class="description">
                <p style="color: black">{{ request|description_change:book }}</p>
            </div> <br>
            {% if book.doi %}
            <div class="izoh5">
                <p style="color: black">DOI: {{book.doi}}</p>
            </div>
            {% endif %} 
            <div class="pdf">
                <a href="{{book.url}}" class="btn btn-sm btn-fupred btn-download fi fi-arrow-download">{% trans "Download PDF" %}</a>
            </div>
        </div>
    <div class="bg-white dark:bg-zinc-900 py-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 text-center">
      <div>
        <p class="text-2xl font-semibold text-black dark:text-black">1,608</p>
        <p class="text-red-600 dark:text-red-400">BOOKS IN THE CATALOGUE</p>
      </div>
      <div>
        <p class="text-2xl font-semibold text-black dark:text-black">1,309</p>
        <p class="text-red-600 dark:text-red-400">OPEN ACCESS BOOKS</p>
        <p class="text-black dark:text-black">in the Catalogue</p>
      </div>
      <div>
        <p class="text-2xl font-semibold text-black dark:text-black">1,962</p>
        <p class="text-black dark:text-black">BOOK CHAPTERS</p>
      </div>
      <div>
        <p class="text-2xl font-semibold text-black dark:text-black">3,352,053</p>
        <p class="text-red-600 dark:text-red-400">FULLTEXT DOWNLOADS</p>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 text-center mt-8">
      <div>
        <p class="text-2xl font-semibold text-black dark:text-black">4,157</p>
        <p class="text-red-600 dark:text-red-400">AUTHORS</p>
        <p class="text-black dark:text-black">from 869 Research Institutions of 64 Nations</p>
      </div>
      <div>
        <p class="text-2xl font-semibold text-black dark:text-black">63</p>
        <p class="text-red-600 dark:text-red-400">SCIENTIFIC BOARDS</p>
        <p class="text-black dark:text-black">from 340 Research Institutions of 43 Nations</p>
      </div>
      <div>
        <p class="text-2xl font-semibold text-black dark:text-black">1,150</p>
        <p class="text-red-600 dark:text-red-400">REFEREES</p>
        <p class="text-black dark:text-black">from 345 Research Institutions of 37 Nations</p>
      </div>
    </div>
  </div>
</div>
    </div>



<style>
    .container {
        width: 100%;
        height: 100vh;
        padding: 5%;
    }

    .btn-fupred {
        color: #ffffff;
        background-color: #9a1413;
        border-color: #9a1413;
    }

    .btn {
        position: relative;
    }

    .btn-group-sm>.btn,
    .btn-sm {
        padding: .46rem 1rem;
        font-size: 1.0625rem;
        line-height: 1.5;
        border-radius: .2rem;
    }
    .description {
        max-height: 300px; /* Set the maximum height */
        overflow-y: auto;  /* Enable vertical scrolling */
    }
</style>


{% endblock %}
