{% extends 'base.html' %}

{% block title %}Jurnallar{% endblock %}

{% block content %}



    <div class="container">
        <p style="color: #880000">salom</p>

    </div>
{#    <div class="container">#}
{#        <img src="img/shape.png" class="square" alt=""/>#}
{#        <div class="form">#}
{#            <div class="contact-info">#}
{#                <h3 style="color: black">Biz bilan bo'g'laning!</h3>#}
{#                <p class="text" style="color: black">#}
{#                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, sed magnam repudiandae#}
{#                    facilis,#}
{#                    debitis quam minima quia voluptatibus repellat ab, perspiciatis quo dolorum dignissimos est veniam#}
{#                    architecto impedit. Possimus, nostrum?#}
{#                </p>#}
{##}
{#                {% for i in contact %}#}
{#                    <div class="info">#}
{#                        <div class="information">#}
{#                            <i class="fas fa-map-marker-alt"></i> &nbsp &nbsp#}
{#                            <p>Address: {{ i.address }}</p>#}
{#                        </div>#}
{#                        <div class="information">#}
{#                            <i class="fas fa-envelope"></i> &nbsp &nbsp#}
{#                            <p>E-mail: {{ i.email }}</p>#}
{#                        </div>#}
{#                        <div class="information">#}
{#                            <i class="fas fa-phone"></i>&nbsp&nbsp#}
{#                            <p>Phone number: {{ i.phone_number }}</p>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}