{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}
{% load i18n %}
{% block content %}
    <div class="card" style="width: 50%; margin: 2% 25%;">
        {% for i in best_books %}
            <div class="card-body" style="margin: 2%;">
                <div class="book-cover">
                    {% if i.thumb %}
                        <img src="{{ i.thumb.url }}">
                    {% else %}
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS01IODKDd-XpRnvBbSDlcg6scby3AOYc2ZfA&s">
                    {% endif %}
                </div>
                <div class="book-details">
                    <h2 style="color: black">{{ i.name }}</h2>
                    <h3 style="color: black">
                        {{ i.description|slice:":25" }}{% if i.description|length > 25 %}...{% endif %}</h3>
                    <h4 style="color: black" class="date">{{ i.date }}</h4> <br>
                    <a href="{% url 'book_detail' i.id %}" class="view-more"
                       style="text-decoration: none;">{% trans "View More" %}</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <br>
    <div class="yozuv">
        <h2 style="color: black">{% trans "Our Partners" %}</h2>
    </div>

    <div class="rasm">
        {% for i in partner %}
            <a href="{{ i.url }}"><img src="{{ i.image.url }}" class="img-fluid"></a>
        {% endfor %}
    </div> <br>
    <div class="bg-white dark:bg-zinc-900 py-8">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 text-center">
                <div>
                    <p class="text-2xl font-semibold text-black dark:text-black">1,608</p>
                    <p class="text-red-600 dark:text-red-400">BOOKS IN THE CATALOGUE</p>
                </div>
                <div>
                    <p class="text-2xl font-semibold text-black dark:text-black">1,309</p>
                    <p class="text-red-600 dark:text-red-400">OPEN ACCESS BOOKS</p>
                    <p class="text-black dark:text-black">in the Catalogue</p>
                </div>
                <div>
                    <p class="text-2xl font-semibold text-black dark:text-black">1,962</p>
                    <p class="text-black dark:text-black">BOOK CHAPTERS</p>
                </div>
                <div>
                    <p class="text-2xl font-semibold text-black dark:text-black">3,352,053</p>
                    <p class="text-red-600 dark:text-red-400">FULLTEXT DOWNLOADS</p>
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 text-center mt-8">
                <div>
                    <p class="text-2xl font-semibold text-black dark:text-black">4,157</p>
                    <p class="text-red-600 dark:text-red-400">AUTHORS</p>
                    <p class="text-black dark:text-black">from 869 Research Institutions of 64 Nations</p>
                </div>
                <div>
                    <p class="text-2xl font-semibold text-black dark:text-black">63</p>
                    <p class="text-red-600 dark:text-red-400">SCIENTIFIC BOARDS</p>
                    <p class="text-black dark:text-black">from 340 Research Institutions of 43 Nations</p>
                </div>
                <div>
                    <p class="text-2xl font-semibold text-black dark:text-black">1,150</p>
                    <p class="text-red-600 dark:text-red-400">REFEREES</p>
                    <p class="text-black dark:text-black">from 345 Research Institutions of 37 Nations</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

