{% extends 'base.html' %}

{% block title %}Send Materials{% endblock %}

{% load i18n %}
{% load check_lang %}

{% block content %}
<div class="container main">
    <br>
    <h2 style="color: black" ><b>Контрольный список подготовки материала к отправке</b></h2>
    <p style="color: black" >В качестве одного из этапов процесса отправки авторы должны проверить соответствие их материала всем следующим
        пунктам, материалы могут быть возвращены авторам, если они не соответствуют этим требованиям.</p>

    <ul>
        <li style="color: black" >Отправляемый материал должно быть в формате документа Microsoft Word.</li>
        <li style="color: black" >Текст должен быть написан шрифтом Times New Roman, кеглем 14, межстрочный интервал 1,5. Поля - по 2
            сантиметра со
            всех сторон (справа, слева, сверху и снизу) текста. Минимальный объем должен быть не менее 5 страниц,
            количество
            ссылок должно быть не менее 3 источников.</li>
        <li style="color: black" >В этом разделе следует перечислить все использованные в исследовании ссылки в порядке [1], [2] или [3]:
            фамилия
            автора, название книги, адрес и имя издателя, год, страницы.
        </li>
    </ul>

    <h2 style="color: black" ><b>Руководство для авторов</b></h2>
    <p style="color: black"> Статья должна быть актуальной и оригинальной, в ней должна содержаться постановка задач, описаны основные
        результаты
        исследования и сделаны выводы.</p>
    <p style="color: black" >Плата с авторов за публикацию взимается, только в случае прохождения рецензирования.</p>

    <h4 style="color: black" ><b>Структура</b></h4>

    <p style="color: black">Статья имеет следующую структуру: <br>
        - Название; <br>
        - Авторы и их аффилиации;<br>
        - Аннотация;<br>
        - Ключевые слова;<br>
        - Введение;<br>
        - Основная часть (содержательные разделы / параграфы);<br>
        - Заключение;<br>
        - Литература;<br>
        - Подробные сведения об авторах.</p>

    <p style="color: black"><b>Если ваша статья на русском или узбекском языке, пожалуйста прикрепите
            следующие данные на английском, в отдельном файле:</b></p>

    <p style="color: black" >- Название; <br>
        - Авторы и их аффилиации;<br>
        - Аннотация (Abstract);<br>
        - Ключевые слова (Key words);<br>
        - Литература (References);<br>
        - Подробные сведения об авторах.</p>

    <h2 style="color: black" ><b>Название статьи</b></h2>

    <p style="color: black" >Название статьи приводится английском языках. Оно должно быть информативным и раскрывать содержание статьи.</p>

    <h3 style="color: black" ><b>Сведения об авторах</b></h3>

    <p style="color: black">Сведения об авторах, публикуемые на титульном листе статьи, включают следующие элементы:
        - Фамилия, Имя авторов;
        - полные названия организаций – мест работы авторов, полный почтовый адрес каждой организации (включая почтовый
        индекс). Допускается наличие нескольких аффилиаций;
        - адреса электронной почты авторов.</p>

    <h3 style="color: black"><b>Аннотация</b></h3>

    <p style="color: black">Аннотация к статье представляется на русском и английском языках. Объем – 150–250 слов. Аннотация должна отражать
        основное содержание статьи и быть структурированной.</p>


    <h2 style="color: black"><b>Ключевые слова</b></h2>

    <p style="color: black">Ключевые слова приводятся на английском языке. Рекомендуемое количество ключевых слов (словосочетаний) – от 6 до
        10.
        Ключевые слова или словосочетания отделяются друг от друга точками с запятыми.</p>

    <h2 style="color: black"><b>Введение</b></h2>

    <p style="color: black">Во Введении даются ответы на вопросы почему и зачем было проведено исследование, какова исследовательская
        гипотеза.</p>


    <h2 style="color: black"><b>Основная часть</b></h2>

    <p style="color: black">Рекомендуется применять структуру IMRAD, предусматривающую, помимо Введения (Introduction), следующие разделы:
        «Методы» (Methods), «Результаты» (Results) и «Дискуссия» (Discussion).</p>

    <h2 style="color: black"><b>Заключение</b></h2>

    <p style="color: black">Заключение включает повторное обобщенное перечисление основных результатов исследования (в соответствии с
        заявленными целями, гипотезами и исследовательскими вопросами), а также оценку их значимости для науки. Также
        желательно указать направления дальнейших исследований в данной области. По объему Заключение, как правило, не
        превышает 10% от общего объема текста статьи.</p>

    <h2 style="color: black"><b>Литература</b></h2>

    <p style="color: black">Иностранная литература приводится на языке оригинала без сокращений. Список литературы оформляется в Гарвардском
        стиле. Для транслитерации русскоязычных/узбекоязычных наименований рекомендуется использовать существующие
        онлайн-сервисы. Рекомендуется, чтобы список литературы содержал не менее 15 источников. Элементы списка
        литературы
        нумеруются в порядке их упоминания (цитирования) в тексте статьи. Каждый из источников, включенных с список
        литературы, должен быть процитирован в тексте статьи хотя бы один раз. Цитирование источников в тексте статьи
        осуществляется по их номерам в списке литературы, в квадратных скобках (например, [2], [4; 5], [7–10], [3; 5;
        7–10]).</p>

    <h2 style="color: black"><b>Требования к оформлению статей</b></h2>

    <p style="color: black">
        <b>Формат.</b> Все материалы представляются в редакцию в электронном виде (в формате MS Word, версия 2003 или
        выше).

        <b>Шрифт, форматирование, нумерация страниц.</b> Шрифт – Times New Roman, кегль набора – 12 пунктов, полуторный
        интервал,
        форматирование по ширине. Нумерация страниц – вверху по центру, поля: левое – 2,5 см, верхнее, нижнее и правое –
        по
        1,5 см.

        <b>Языки.</b> Статьи представляются в редакцию на английском, узбекском и/или русском языках.

        <b>Рисунки</b> (графики, диаграммы и т.п.) могут быть оформлены средствами MS Word или MS Excel. Допускается
        использование
        графического векторного файла в формате wmf/emf или cdr v.10. Фотографические материалы предоставляются в
        формате
        TIF или JPEG, c разрешением изображения не менее 300 точек на дюйм. Нумерация рисунков – сквозная. Ссылки на
        рисунки
        в тексте обязательны и должны предшествовать позиции размещения рисунка.

        <b>Таблицы</b> оформляются средствами MS Word или MS Excel. Нумерация таблиц – сквозная. Ссылки на таблицы в
        тексте
        обязательны и должны предшествовать позиции размещения таблицы.
    </p>

    <h2 style="color: black"><b>Articles</b></h2>
    Section default policy

    <h2 style="color: black"><b>Заявление о конфиденциальности</b></h2>
    <p style="color: black">Имена и адреса электронной почты, введенные на сайте этого журнала, будут использованы исключительно для целей,
        обозначенных этим журналом, и не будут использованы для каких-либо других целей или предоставлены другим лицам и
        организациям.</p>

</div>

<style>
    .names {
        width: 75%;
        padding: 0 5% 0 20%;
    }
</style>
{% endblock %}